body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.m{
    color: orange;
}
section{ display: flex;
    margin-bottom: 150px;

}
.half-witdh{
    width: 50%;
    padding: 2%;
}
.half-witdh img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    
    padding: 10px 40px;
    border-radius: 5%;
    background-image: linear-gradient(orange ,tomato);
    color: white;
    font-weight: 700;

}
.top-banner{
    background-image: url(back/top-banner.png);
    background-repeat: no-repeat;
}
.one{
    width:90%;
    padding:10%;
}
.ome img{
    width:20%;
}
.dream-big{
    background-image: url(back/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

